/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E6E7E9;
    margin: 0.5rem 20%;
}

/* NAVBAR TOP SECTION OF THE DOCUMENT */

.header-section {
    display: flex;
    background-color: #4B4B4D;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    width: 1000px;
}

.logo {
    background-color: #D2D3D5;
    width: 200px;
    margin: 30px 22px;
}

.navbar li{
    list-style: none;
    background-color: #D2D3D5;
    text-decoration: none;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    z-index: 1;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li a{
    list-style: none;
    color: #D2D3D5;
    text-decoration: none;
}

.navbar ul{
    list-style: none;
    height: 120px;
    display: flex;
    align-items: center;
}

/* FIRST SECTION OF THE DOCUMENT */

.top-section-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.top-section {
    background-color: #97989A;
    width: 20%;
    height: 48px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.top-section + .top-section {
    margin-left: 0.09rem;
}

/* MIDDLE SECTION OF THE DOCUMENT */

.middle-section-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    width: 1000px;
    height: 192px;
}

.middle-section {
    width: 33%;
    background-color: #858688;
}

/* LAST SECTION OF THE DOCUMENT */

.bottom-section-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7rem;
    width: 1000px;
    height: 453px;
}

.bottom-section-sides {
    width: 25%;
    height: 100%;
    background-color: #858688;
}

.bottom-section-center {
    width: 50%;
    height: 100%;
    background-color: #4B4B4D;
}

/* FOOTER OF THE DOCUMENT */

.footer {
    width: 1000px;
    height: 70px;
    background-color: #4B4B4D;
}